<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>446099408891-d4g9mpn4se9jdq1ri0nb51dbj2tjm0h9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.446099408891-d4g9mpn4se9jdq1ri0nb51dbj2tjm0h9</string>
	<key>API_KEY</key>
	<string>AIzaSyCvecmVIYEmtI7grvo0fDhbbZPnJ_y4TKw</string>
	<key>GCM_SENDER_ID</key>
	<string>446099408891</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.BootCampingTeam1.BootCamping</string>
	<key>PROJECT_ID</key>
	<string>bootcamping-280fc</string>
	<key>STORAGE_BUCKET</key>
	<string>bootcamping-280fc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:446099408891:ios:ee5e2b25fca04873e92d5e</string>
</dict>
</plist>